<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 id="meuH">OLA</h1>
    <label id="abc">abc</label>
    <input id="inp" type="text">
    <div id="divi"></div>


 
        <script>
        '<% console.log("vera verao")%>'

        document.getElementById("divi").innerHTML = "VAI CORINTHIANS"
        </script>


      



</body>

</html>